/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

.post {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

pre, code {
  font-family: Consolas, monospace;
  background: #eee;
  padding: 10px;
  border-radius: 4px;
}